input {
    font-family: Ubuntu;

}

.logo-position {
    text-align: center;
}

.search-pos {
    text-align: center;
}

.button-pos {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    
}

li a {
    font-family: Ubuntu;
    font-size: 14px;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration:none;
}

.rh-nav-bar {
    float:right;
    
}
